.form-container{
    padding: 2em 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control{
    position: relative;
}
input{
    position: relative;
    width: calc(40vw - 100px);
    padding: 1.2em 0.75em;
    background-color: transparent;
    border: 1px solid #aaaaaa;
    margin: 2em 0 0;
    color: #707070;
    border-radius: 5px;
    font-size: 1.1em;
}
label{
    position: absolute;
    bottom: 20px;
    left: 0.5em;
    color: #707070;
    font-size: 1.2em;
    display: block;
    background-color: #ffffff;
    padding: 0 0.75em;
    transition: bottom 300ms,
                font-size 300ms;
}
.form-control input:valid + label{
    bottom: 60px;
    font-size: 0.8em;
}

button{
    width: 100%;
    margin-top: 2em;
    padding: 1.5em;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #2ecc71;
    transition: background 300ms ease-out;
}
button:hover{
    background-color: #37e780fb;
    cursor: pointer;
}
button svg{
    margin-left: 1em;
}