.popup-container{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #0000002c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup{
    background-color: #ffffff;
    padding: 0 1em;
    border-radius: 0.5em;
    width: 350px;
    animation: openPopup 400ms ease-out forwards alternate;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.popup-header button{
    display: flex;
    align-items: center;
    color: #aaaaaa;
}

.popup-title{
    padding-left: 0.5em;
    font-size: 1.1em;
    margin: 0;
    color: #aaaaaa;
}

.popup-body{
    padding: 1em 0.5em;
}

@keyframes openPopup {
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}