
input:focus,
button:focus{
    outline: none;
}

button{
    background-color: transparent;
    border: none;
}
button:hover{
    cursor: pointer;
}

.app-name{
    font-size: 1.6rem;
    margin: 0;
    padding: 1em ;
    font-weight: 400;
}

